.mark-1 {
  font-style: italic;
}

.lhp-default {
  line-height: 90px;
}

.lhp span {
  display: inline-block;
  background-color: #fff;
}

.box { line-height: 300px; text-align: center; }

.box > img { vertical-align: middle; }

.assist-i {
  display: middle;
  display: inline-block;
  width: 0;
  outline: 1px dashed red;
}

.my-face-img {
  vertical-align: text-bottom;
  height: 43px;
}
